<!DOCTYPE html>
<html>
<head>
  <title>Create New Invoice</title>
</head>
<body>
<h2>Create a New Invoice</h2>
{% if username != 'None' %}
<form name="create_invoice" action="" method="POST" onsubmit="return createInvoiceValidate()">{% csrf_token %}
  <h3>Invoice Name: </h3>
  <input type="text" name="invoice_name">
  <h3>Invoice Date: </h3>
  <input type="date" name="date">
  <h3>Amount: </h3>
  <input type="number" name="amount">
  <h3>Invoice Photo: </h3>
  <input style="font-size: medium;" type="file" name="invoice_image" accept='image/*'>
  <br/>
  <br/>
  <input style="font-size: medium;" type="submit" value="Create Invoice">
{% else %}
<h1>Permission Denied</h1>
{% endif %}
</form>
<br/>
<a href="/invoices/{{username}}"><button style="font-size: medium;">Home Page</button></a>
<script>
function createInvoiceValidate()
{
  var invoice_name = document.forms["create_invoice"]["invoice_name"].value;
  if(invoice_name.trim().length === 0)
  {
    alert("invoice_name should not be empty");
    return false;
  }
  else
  {
    var date = document.forms["create_invoice"]["date"].value;
    if(date == "")
    {
      alert("Date should not be empty");
      return false;
    }
    else
    {
      var amount = document.forms['create_invoice']['amount'].value;
      if(amount == "" || amount == 0)
      {
        alert('amount should not be empty');
        return false;
      }
      else
      {
        var invoice_image = document.forms["create_invoice"]["invoice_image"].value;
        if(invoice_image == "")
        {
          alert("invoice_image should not be empty");
          return false;
        }
      }
    }
  }
}
</script>
</body>
</html>